<template>
   <input class="input" type="text">
</template>

<script>
    export default {
        name: 'my-input'
    }
</script>

<style scoped>
.input{
    width: 100%;
    border: 1px solid teal;
    padding: 10px 15px;
    margin-top: 15px;
}
</style>